<div class="container">
  <h1>Compund Interest Calculator</h1>

  <form>
    <mat-form-field class="full-width">
      <mat-label>Initial Investment</mat-label>
      <input matInput [(ngModel)]="initialInvestment" name="initialInvestment" type="number" min="0" pattern="[0-9]+" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Monthly Contribution</mat-label>
      <input matInput [(ngModel)]="monthlyContribution" name="monthlyContribution" type="number" min="0" pattern="[0-9]+" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Length (Months)</mat-label>
      <input matInput [(ngModel)]="length" name="length" type="number" min="0" pattern="[0-9]+" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Interest Rate % (p.a.)</mat-label>
      <input matInput [(ngModel)]="interestRate" name="interestRate" type="number" min="0" required>
    </mat-form-field>
    <button mat-stroked-button (click)="calculateCompoundInterest()" class="accent">Calculate</button>
  </form>

  <div *ngIf="futureValue !== 0 && compoundInterest !== 0">
    <p>Future Value: {{ futureValue | currency:"Rp " }}.</p>
    <p>Compound Interest: {{ compoundInterest | currency:"Rp " }}.</p>
  </div>
</div>
